@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --primary-color: #14B8A6;
    --blue-gray: #475569;
    --true-gray: #E5E5E5;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    color: var(--blue-gray)
}

hr {
    margin: 2rem;
}

.heading{
    color: var(--blue-gray)
}

.margin-medium{
    margin: 2rem;

}

.container-center {
    max-width: 600px;
    margin: 1rem auto;
    border-radius: 1rem;
    padding: 1rem 1rem 2rem 1rem;
}

.links {
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    margin-right: 1rem;
}

.link-primary {
    background-color: var(--primary-color);
    border-radius: 0.75rem;
    color: white;
}

.link-secondary {
    color: var(--primary-color);
    border-radius: 0.75rem;
    border: 1px solid var(--primary-color);

}

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.75rem;
}

.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.navigation .nav-brand {
    font-weight: bold;
    font-size: 1.1rem;
}

.navigation .nav-right {
    text-align: right;
}

.navigation .links {
    color: white;
    text-align: right;
}

.navigation .link-active {
    font-weight: Bold;
}

.hero {
    padding: 2rem;
}

.hero .hero-image {
    max-width: 350px;
    display: block;
    margin: auto;
}

.hero .hero-heading {
    color: var(--blue-gray);
    padding: 1rem;
    text-align: center;
}

.heading-inverted {
    color: var(--primary-color);
}

.section{
    padding: 2rem;
}

.section h1 {
    text-align: center;
    
}

.ow{
  background-color:var(--true-gray)  
}

.footer {
    background-color: var(--primary-color);
    padding: 2rem 0rem;
    text-align: center;
    border-top-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    color: white;
}

.footer .links{
    color:white;
}

.footer ul{
    padding-inline-start: 0px ;
}

.footer .footer-header{
    text-align: left;
    font-weight: bold;
    font-size: large
}